body {
    margin: 0;
    font-family: Arial;
    background: #e7f0ff;
}

nav {
    background: #004aad;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    border-left: 5px solid #004aad;
}

button {
    background: #0077ff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}
